<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos accusantium modi, quasi doloremque omnis vitae, laudantium ab repudiandae ipsam temporibus dolorem soluta hic, eius vero accusamus maiores quod repellendus ratione!</p>
</body>
</html>


<table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>